body {
  font-family: 'Noto Sans', sans-serif;
}

.footer {
  /* padding: 0px; */
  padding-bottom: 0px;
  background: none;
}

.footer .icon-link {
    /* font-size: 25px; */
    color: #000;
}

.link-block a {
    margin: 5px;
}

.dnerf {
  font-family: 'Castoro', serif;
  font-variant: small-caps;
}

.publication-title {
  font-family: 'Google Sans', sans-serif;
}

.publication-subtitle {
  font-family: 'Google Sans', sans-serif;
  color: #4a4a4a;
}

.architecture-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

pre {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 4px;
}

.author-block sup {
  font-size: 0.8em;
  vertical-align: super;
}

.affiliation-block {
  display: block;
  font-size: 0.9em;
}

.publication-authors {
    margin-top: 1rem;
}

.publication-links {
    margin-top: 1rem;
}

.footer p {
    font-size: small;
    color: #888;
}

.button.download-button {
    margin-top: 1.5em;
    margin-bottom: 1em;
    background-color: grey;
    color: white;
}